@import "tailwindcss";

body {
  margin: 0;
}

@media print {
  @page {
    margin: 10mm; /* Quita encabezados y pies de página del navegador */
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .avoid-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  /* Asegurar que la marca de agua se imprima */
  img {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
